
/* colors */
$sidebar: #F3F4F9;
$main: #FAFAFA;
$white: #fff;
$black: #333;
$red: #DF212D;
$blue: #20b5f5;

/* size-blocks */
$sidebar-width: 240px;
$header-height: 201px;
/* z-indexs */

$z-index-fixed-elem: 1000;
$z-index_menu: 1001;


