@import "vars";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 
    system-ui,-apple-system,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,
    "Noto Sans","Liberation Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji",
    "Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    color: $black;
    background-color: $main;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;  
}

@import 'blocks/header.scss';
@import 'blocks/sidebar.scss';
@import 'blocks/main.scss';
@import 'blocks/coupons.scss';

@import 'media/media.scss';
