<aside class="sidebar">
    <div class="menu">
        <img class="menu_img" src="assets/images/union.png" alt="">
        <button class="menu_toggle" type="button" id="menu_toggle">
            <span class="menu_toggle_item">Menu</span>
        </button>
    </div>
    <div class="logo">
        <img class="logo_img" src="assets/images/coupon.png" alt="">
        <div class="logo_name">beco</div>
    </div>
    <nav class="nav">
        <ul class="nav_inner">
            <li class="nav_item">
                <a class="nav_link" href="#">
                    <i class="fas fa-vector-square"></i>
                    <span class="nav_link_text" href="#">Каталог</span>
                </a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">
                    <i class="fas fa-wave-square"></i>
                    <span class="nav_link_text" href="#">Здоровье</span>
                </a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">
                    <i class="far fa-heart"></i>
                    <span class="nav_link_text" href="#">Красота</span>
                </a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">
                    <i class="fab fa-github"></i>
                    <span class="nav_link_text" href="#">Развлечения</span>
                </a>
            </li>
            <li class="nav_item">
                <a class="nav_link" href="#">
                    <i class="fas fa-truck"></i>
                    <span class="nav_link_text" href="#">Авто</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>