<aside class="sidebar">
    <div class="menu">
        <img class="menu_img" src="assets/images/union.png" alt="">
        <button class="menu_toggle" type="button" id="menu_toggle">
            <span class="menu_toggle_item">Menu</span>
        </button>
    </div>
    <div class="logo">
        <img class="logo_img" src="assets/images/coupon.png" alt="">
        <div class="logo_name">beco</div>
    </div>
    <nav class="nav">
        <ul class="nav_inner">
            <li class="nav_item">
                <img class="nav_link_img" src="assets/images/icon_1.svg" alt="">
                <a class="nav_link" href="#">Каталог</a>
            </li>
            <li class="nav_item">
                <img class="nav_link_img" src="assets/images/icon_2.png"  alt="">
                <a class="nav_link" href="#">Здоровье</a>
            </li>
            <li class="nav_item">
                <img class="nav_link_img" src="assets/images/icon_3.png"  alt="">
                <a class="nav_link" href="#">Красота</a>
            </li>
            <li class="nav_item">
                <img class="nav_link_img" src="assets/images/icon_4.png"  alt="">
                <a class="nav_link" href="#">Развлечения</a>
            </li>
            <li class="nav_item">
                <img class="nav_link_img" src="assets/images/icon_5.png"  alt="">
                <a class="nav_link" href="#">Авто</a>
            </li>
        </ul>
    </nav>
</aside>