<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/6bb980644b.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

    <div class="page">
        {{> header }}

        {{> sidebar}}

        <main class="main">
            <div class="conteiner">
                {{> body }}
            </div>    
        </main>

    </div>

    <script src="assets/js/app.js"></script>
</body>
</html>
